main.container {margin-top: 70px;}
main.container > h1 {margin-bottom: 2rem;}
main.container > .jumbotron {padding: 1rem;}
main.container > .jumbotron > p.lead {margin: 0;}
.accordion .card .btn-block dl.row {margin-bottom: 0;}
.accordion .card .btn-block dl.row dd {margin-bottom: 0;}
